@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    background: hsl(212, 45%, 89%);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.qr-code {
    background: white;
    height: 27rem;
    width: 18rem;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.41);
    margin: 50% auto;
}

.qr-code * {
    text-align: center;
    margin: 10px;
}

.qr-code-img {
    height: 250px;
    width: 250px;
    padding: 10px 15px 10px 0px;
}

.qr-code-img img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.all-text {
    width: 100%;
    margin: 0 auto
}

.all-text h1 {
    font-size: 20px;
    padding: 10px 0
}

.all-text p {
    font-size: 15px;
    color: grey;
}

@media only screen and (max-width: 770px) {
    .qr-code {
        height: 24rem;
        width: 15rem;
    }

    .qr-code-img {
        height: 200px;
        width: 200px;
    }

    .all-text h1 {
        font-size: 18px;
    }

    .all-text p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 430px) {
    .qr-code {
        height: 20rem;
        width: 12rem;
    }

    .qr-code-img {
        height: 150px;
        width: 150px;
    }

    .all-text h1 {
        font-size: 15px;
    }

    .all-text p {
        font-size: 10px;
    }
}
